
DinnerDeciderApp/.gradle/5.4.1/executionHistory/executionHistory.bin
DinnerDeciderApp/.gradle/5.4.1/executionHistory/executionHistory.lock
DinnerDeciderApp/.gradle/5.4.1/fileHashes/fileHashes.bin
DinnerDeciderApp/.gradle/5.4.1/fileHashes/fileHashes.lock
DinnerDeciderApp/.gradle/5.4.1/fileHashes/resourceHashesCache.bin
DinnerDeciderApp/.gradle/buildOutputCleanup/buildOutputCleanup.lock
DinnerDeciderApp/.idea/workspace.xml
*.bin
DinnerDeciderApp/.gradle/5.4.1/executionHistory/executionHistory.bin
DinnerDeciderApp/.gradle/5.4.1/executionHistory/executionHistory.lock
DinnerDeciderApp/.gradle/5.4.1/fileHashes/fileHashes.bin
DinnerDeciderApp/.gradle/5.4.1/fileHashes/fileHashes.lock
DinnerDeciderApp/.gradle/5.4.1/fileHashes/resourceHashesCache.bin
DinnerDeciderApp/.gradle/buildOutputCleanup/buildOutputCleanup.lock
DinnerDeciderApp/.idea/workspace.xml
DinnerDeciderApp/.idea/workspace.xml
